@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" ;
@use "../../styles/partials/mixins" as *;
@import "../../styles/partials/typography";


.video {
   position: relative;
   width: 100%;
   padding-top: 56.25%; 
 
   .video__div {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background:$brainflix-black;
     display: flex;
     align-items: center;
     justify-content: center;
   }
 
   .video__poster {
     width: 100%;
     height: 100%;
     object-fit: cover; 
   }
   .video__div video::-webkit-media-controls-timeline {
     height: 3px; 
     background-color:$brainflix-darkblack; 
     border-radius: 5px; 
   }
   .video__div video::-webkit-media-controls-current-time-display,
   .video__div video::-webkit-media-controls-time-remaining-display {
     color: $white; 
   }
 }
 





