@use "../partials/variables" as *;
@mixin tablet-and-desktop {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
@mixin page_header--desktop{
    font-size:2.0625rem;
    line-height: 2.75rem;
    font-weight: bold 700;
    font-family:"Avenir Next LT Pro";
}
@mixin section_header--desktop{
    font-size:0.75rem;
    line-height: 1.25rem;
    font-weight: bold 700;
    font-family:"Avenir Next LT Pro";
}
@mixin subheader--desktop{
    font-size:0.875rem;
    line-height: 1.375rem;
    font-weight: bold 700;
    font-family:"Avenir Next LT Pro";
}
@mixin body--desktop{
    font-size:0.875rem;
    line-height: 1.375rem;
    font-weight: bold 400;
    font-family:"Avenir Next LT Pro";
}
@mixin label_button--desktop{
    font-size:0.75rem;
    line-height: 1.25rem;
    font-weight: bold 700;
    font-family:"Avenir Next LT Pro";
}
@mixin page_header--mobile{
    font-size:1.5rem;
    line-height: 2rem;
    font-weight: bold 700;
    font-family:"Avenir Next LT Pro";
}
@mixin section_header--mobile{
    font-size:0.75rem;
    line-height: 1.25rem;
    font-weight: bold 700;
    font-family:"Avenir Next LT Pro";
}
@mixin subheader--mobile{
    font-size:0.8125rem;
    line-height: 1.125rem;
    font-weight: bold 700;
    font-family:"Avenir Next LT Pro";
}
@mixin body--mobile{
    font-size:0.8125rem;
    line-height: 1.125rem;
    font-weight: bold 700;
    font-family:"Avenir Next LT Pro";
}
@mixin label_button--mobile{
    font-size:0.625rem;
    line-height: 1.25rem;
    font-weight: bold 700;
    font-family:"Avenir Next LT Pro";
}
@mixin container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 75rem; 
    margin: 0 auto;
  }
  @mixin input-base {
    background-color: #fff;
    border: none;
    border-radius: 0.3125rem;
    padding: 0.5rem 1rem;
    font-size: 1rem; 
    outline: none; 
    &:focus {
      border: 0.0625rem solid $primary-color; 
    }
  }
  @mixin button-base {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
  
    &:hover {
      background-color: darken($brainflix-darkblue, 10%); 
    }
  }
  @mixin logo_person{
      height: 2.5rem;
      width:2.5rem;
      border-radius: 50%;
      @include desktop{
      border-radius: 50%;
      }
  }


  