$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$mobile-breakpoint: 320px;
$wrapper-max-width: 1140px;
$brainflix-black:#323232;
$brainflix-blue:#0095FF;
$silver:#AFAFAF;
$white:#FFFFFF;
$brainflix-darkblack:#000000;
$brainflix-darkblue:#0065AD;
$mercury:#E1E1E1;
$red:#ff0000;
$alabaster:#FAFAFA;
$padding_bheadline--desktop:2.25rem;
$padding_aheadlines--desktop:1.5rem;
$padding_bwcomp--desktop:1.5rem;
$padding_bheadline--mobile:1.5rem;
$padding_aheadlines--mobile:1rem;
$padding_bwcomp--mobile:1rem;
