@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" ;
@use "../../styles/partials/mixins" as *;
@import "../../styles/partials/typography";

  
.nextVideos{
    margin:1.5rem;
    border-top:0.1875rem solid $mercury;
    @include desktop{
        border-top:none;
        margin:1.5rem;
    }
    &__main{
        display:flex;
        text-decoration: none;
        color: inherit;
        @include tablet-and-desktop{
            max-width: 50%; 
            margin-left:1.5rem;
        }
        @include desktop{
            margin-left: 0;
            max-width: 100%;
            margin-right:0 ;
        }
    }
    &__header{
        @include section_header--desktop;
        color:$silver;
        font-size: 1rem;
        margin-top:1.5rem;
        letter-spacing: 0.0625rem;
        @include tablet-and-desktop{
            margin-left:1.5rem;
        }
    }
    &__textdiv{
        width:70%;
        margin-left:1.5rem;
        @include tablet-and-desktop{
            width:30%;
        }
        @include desktop{
        padding-right:0;
        width:100%;
        }
    }
    &__image{
        margin-top:1.5rem;
        width:9.375rem;
        height:5.5rem;
        border-radius: 0.3125rem;   
    }
   &__title{
    margin-top:1.5rem;
        text-decoration: none;
        @include subheader--mobile;
    @include tablet-and-desktop{
        white-space: wrap;
    }
    @include desktop{
        @include subheader--desktop;
        margin-top:1.5rem;
        white-space: wrap;
    }
   }
   &__channel{
    @include subheader--mobile;
@include desktop{
    @include body--desktop;
}
}
}


