@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" ;
@use "../../styles/partials/mixins" as *;
@import "../../styles/partials/typography";

.header {
 @include container; 
 background-color: $white;
 flex-direction: column;
 align-items: flex-start;
 text-align: center;
 margin-right:1rem;
 padding-bottom: 2rem;
 &.has-input {
  display: none; 
}
@include tablet-and-desktop{
  flex-direction: row;
  margin-top:1rem;
  padding-bottom: 0.1rem;
}
@include desktop{
  margin-right:5rem;
  padding-bottom: 0;
}
 &__logo-container {
    display: flex;
    align-items: center;
    margin-left:4.5rem;
    margin-top:1rem;
    margin-bottom:1rem;
    &:focus,
    &:active {
      outline: none;
      outline-color: none;
    }
    @include tablet-and-desktop{
      align-items: flex-start;
      margin-left:2rem;
      margin-top:0.5rem;
    }
    @include desktop{
      margin-left:0.5rem;
    }
  }
  &__logo{
    justify-content:center;
    width:7.5rem;
    height:1.5625rem;
    &:focus,
    &:active {
      outline: none;
      outline-color: none;
    }
    @include tablet-and-desktop{
      width:7.5rem;
      height: auto; 
    }
    @include desktop{
      width:10rem;
      height:1.5625rem;
    }
    &:focus,
  &:active {
    outline: none;
    outline-color: none;
  }
    }
  &__logo1 {
   @include logo_person;
   display:block;
   margin-left:0.5rem;
   background-color:$mercury;
   @include tablet-and-desktop{
    display:none;
   }
   @include desktop{
    display:none;
   }
  }
  &__logo2 {
    @include logo_person;
    display:none;
    @include tablet-and-desktop{
      display: block;
      margin-right:1rem;
    }
    @include desktop{
      display: block;
    }
   }
   &__search-input {
    padding: 1.25rem;
    border: 0.0625rem solid $mercury;
    border-radius: 0.25rem;
    height:1.5625rem;
    width: 16.25rem; 
    @include tablet-and-desktop{
    margin-left: 3rem;
    }
    @include desktop{
      margin-left: 23rem;
      width:20.625rem;
      }
  }
  &__search {
    display: flex;
   justify-content:flex-end;
    margin-left:1.875rem;
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: $tablet-breakpoint) {
      margin-bottom: 1rem;
    }
  }
  &__upload-icon{
    width:1.25rem;
    position:absolute;
     z-index:9999;
     top:9.8rem;
     left:3.5rem;
     @include tablet-and-desktop{
      position:absolute;
      z-index:9999;
      left:35rem;
      top:1.8rem;
     }
     @include desktop{
      width:1.125rem;
      position:absolute;
      z-index:9999;
      left:60.5rem;
      top:1.8rem;
     }
   }
  &__search-icon {
    height: 1.25rem;
    margin-right:5rem;
    position: absolute;
    right: 11.9rem; 
    cursor: pointer;

    @include tablet-and-desktop{
      margin-right:2.2rem;
    }
    @include desktop{
      margin-right:6.5rem;
    }
  }
  &__upload-button {
    @include button-base; 
    background-color:$brainflix-blue;
    color: $white;
    width: 19rem;
    padding-left:2rem;
    padding-right:2rem;
    height: 2.5rem;
    border-radius:0.25rem;
    margin-left:2rem;
    z-index:0;
    position:relative; 
    overflow: hidden; 
    @include tablet-and-desktop {
      width: 9.375rem;
      margin-left:0;
      z-index:0;
    }
    @include desktop {
      width:10rem;
      margin-left:0;
      height: 2.7rem;
      z-index:0;
    }
  } 
}


  