@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" ;
@use "../../styles/partials/mixins" as *;
@import "../../styles/partials/typography";

.Details{
 padding-left:1.5rem;
 padding-right: 1.5rem;
 @include desktop{
 margin-left: 3rem;
 padding-right: 0;
 padding-left:1.5rem;
 border-right: 2px solid $mercury;

 }
 &__title{
  @include page_header--mobile;
 color:$brainflix-darkblack;
  padding-top:2rem;
  padding-bottom:$padding_bwcomp--mobile;
  border-bottom:0.1875rem solid $mercury;
 @include tablet-and-desktop{
    @include page_header--desktop;
  border-bottom: none;
 padding-bottom:0;
        }
     @include desktop{
@include page_header--desktop;
   }
 }
    &__channel{
@include section_header--mobile;
color:$brainflix-darkblack;
font-weight:700;
padding-top:$padding_bwcomp--mobile;
margin-top:$padding_bwcomp--mobile;
@include tablet-and-desktop{
margin-top:0;
margin-right: $padding_bheadline--desktop;
}
    }
    &__date{
        @include section_header--mobile;
        color:$silver;
        padding-top:$padding_bwcomp--mobile;
    }
    &__views{
        @include section_header--mobile;
        color:$silver;
        padding-top:$padding_bwcomp--mobile;
        @include tablet-and-desktop{
            margin-right: $padding_bheadline--desktop; 
        }
    }
    &__likes{
        @include section_header--mobile;
        color:$silver;
        padding-top:$padding_bwcomp--mobile;
    }
    &__description{
        border-top:0.1875rem solid $mercury;
        padding-top: $padding_bheadline--mobile;
        @include body--mobile;
        color:$brainflix-darkblack;
        letter-spacing: 0.0625rem;
        @include tablet-and-desktop{
            @include body--desktop;
        letter-spacing: 0.0625rem;

        }
        @include desktop{
            @include body--desktop;
           padding-top:2.5rem;
           letter-spacing: 0.0625rem;

        }
    }
    &__flex{
        margin-bottom:$padding_bheadline--mobile;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        @include tablet-and-desktop{
            @include section_header--desktop
        }
        @include desktop{
            @include section_header--desktop
        }
    }
    &__flexelement1{
        @include tablet-and-desktop{
            display:flex;
            flex-direction: row;
        }
    }
    &__flexelement2{
        margin-top:1rem;
        @include tablet-and-desktop{
            display:flex;
            flex-direction: row;
            margin-top:0;
        }
    }
    &__subelement1{
        display:flex;
        flex-direction: row;
    }
    &__subelement2{
        display:flex;
        flex-direction: row;
       @include desktop{
        margin-right:1rem;
       }
    }
    
    &__view-icon{
        width:1.5625rem;
        margin-right:0.5rem;
        margin-top:1rem;
    }
    &__likes-icon{
        width:1.4375rem;
        margin-right:0.8rem;
        margin-top:1rem;
    }
 }


