@use "../../styles/partials/variables" as *;
@use "../../styles/partials/resets" ;
@use "../../styles/partials/mixins" as *;
@import "../../styles/partials/typography";

.commentbox{
    margin-left:0;
   @include tablet-and-desktop{
    margin-left:1.5rem;
   }
   @include desktop{
    margin-left:0rem;
   }
   &__heading1{
    margin-top:1.5rem;
    color:$brainflix-black;
    @include page_header--mobile;
    font-size:1.125rem;
    @include desktop{
        max-width:60%;
    }
   }
   &__form{
    display:flex;
    flex-direction: column;
    @include tablet-and-desktop{
        flex-direction: row;
    }
    @include desktop{
        flex-direction: row;
    }
   }
   &__form--row{
    display:flex;
    flex-direction: row;
   }
   &__details{
    border-top:0.1875rem solid $mercury;
    @include desktop{
        padding:1rem;
    }
    
   }
   &__form--imgtext{
    @include desktop{
         margin-right: 0;   
    }
   }
   &__heading2{
    @include label_button--mobile;
    font-weight: 700;
    margin-left:4.3rem;
    letter-spacing: 0.0625rem;
    color:$silver;
    @include desktop{
        margin-left:5rem;
        @include section_header--desktop;
    }
   }
   &__logo1{
    @include logo_person;
   display:block;
   margin-left:0.5rem;
   margin-top:0.2rem;
   @include desktop{
    margin-left:0;
   }
   }
   &__form--imgtext{
    display:flex;
    flex-direction: row;
   }
   &__form--textdiv{
    margin-right: 1.5rem;
   }
   &__textarea{
margin-top: 0.5rem;
height:7rem;
width:17rem;
 padding:0.2rem;
 margin-left:1rem;
 border-radius: 0.25rem;
 resize: none; 
 @include section_header--desktop; 
    border: 0.1875rem solid $mercury; 
    &:focus {
      border-color: $brainflix-blue; 
    }
    &:valid {
      border-color: $mercury; 
    }
    &:invalid {
      border-color: red;
    }
  
 @include tablet-and-desktop{
    height:3rem;
    width:28rem;
    margin-left:1rem;
 }
 @include desktop{
 height:3rem;
 width:30rem;
 margin-left:1rem;
 }
   }
  &__form-button{
    position: relative;
  padding:0.8rem;
width:81%;
  margin-bottom:1rem;
  border:none;
 color:$white;
 background-color: $brainflix-blue;
 border-radius: 0.25rem;
 margin-top:1rem;
 @include section_header--mobile;
 font-size:1rem;
 margin-left: 4rem;
font-weight: bolder;
 &:hover {
 background-color: darken($brainflix-darkblue, 10%); 
 }
 @include tablet-and-desktop{
    margin-top:0.5rem;
    margin-left: 0;
    padding-left:3rem;
    padding-right:3rem;
 }
 @include desktop{
margin-top:0.5rem;
    margin-left: 0;
    padding-left:4rem;
    padding-right:4rem;
 }
  }
   &__upload-icon{
    position: absolute;
    z-index: 2; 
    top: 50%; 
    right: 14rem; 
    transform: translateY(-50%); 
    @include tablet-and-desktop {
      right: 6rem; 
    }
    @include desktop {
      right: 7rem; 
    }
   }
   
   &__underline{
    height:0.125rem;
    width:100%;
    color:$brainflix-black;
   }
   &__container{
    margin-bottom: 1.5rem;
    @include desktop{
       max-width:100%;
    }
   }
   &__div{
    margin-top: 1.5rem;
   }
   &__logoContainer {
    width: 2.375rem;
    height: 2.375rem;
    border-radius: 50%;
    background-color: $mercury;
    display: flex;
    margin-right: 1rem;
    margin-left:0;
    @include tablet-and-desktop {
      display: flex;
      margin-right: 0;
    }
}
&__flex{
    display:flex;
    flex-direction: row;
   margin-top: 1rem;
   margin-right:2rem;
   
}
&__name{
    @include section_header--mobile;
    font-weight:700;
    letter-spacing: 0.0313rem;
    font-size: 0.9375rem;
    white-space: nowrap;
    overflow: hidden;  
    @include tablet-and-desktop{
        margin-left:1rem;
        white-space: nowrap;
        overflow: hidden;   
    }
    @include desktop{
        margin-right:23rem;
    }
}
&__comment{
    margin-left:3rem;
    @include section_header--mobile;
    font-size: 1rem;
    @include tablet-and-desktop{
        @include body--desktop;
    }
    @include desktop{
        @include body--desktop;
        margin-left:5rem;
        margin-right:1.5rem;
    }
}
&__timestamp{
display: flex;
flex-direction: row;
margin-bottom:2rem;
padding-bottom: 1rem;
margin:auto;
@include section_header--mobile;
font-weight: 700;
color:$silver;
@include tablet-and-desktop{
    margin: auto;
    @include label_button--desktop;
}
@include desktop{
    @include label_button--desktop;
}
}
&__datediv{
    display: flex;
    flex-direction: row;
    text-align:right;
    margin-left: auto;
    @include tablet-and-desktop{
        margin-left: auto;
    }
    @include desktop{

    }
    }
}


  
  