@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as * ;
@use "../../styles/partials/resets" ;
@import "../../styles/partials/variables";
.Details__wrapper{
    @include desktop{
    display:flex;
    flex-direction: row;
}
&--row{
@include desktop{
    max-width:70%;
}
}
&__wrapper--column{
    margin-right:1rem;
    padding-right:1rem ;
    @include desktop{
        border: 2rem solid $mercury;
        margin-right: 0;
        padding-right: 0;
    }

   } 
}