@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as * ;
@use "../../styles/partials/resets" ;
@import "../../styles/partials/variables";
.Detail{
    @include desktop{
    display:flex;
    flex-direction: row;
}
&__row{
@include desktop{
    max-width:70%;
}
}
&__column{
    margin-right:1rem;
    padding-right:1rem ;
    @include desktop{
        max-width:30%;
        margin-right: 0;
        padding-right: 0;
    }
   } 
}